body {
  margin: 0px;
  padding: 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}


.card-img {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card {
  border: solid 1px lightgrey;
}

.card-content {
  padding:8px;
}

.card-action {
  text-align: center;
}

.map {
  height: 350px;
  background-position: center;
  background-size: cover;
  margin: 0px;
  }

.container {
  padding: 40px 270px;
}

.flat-details, .card-top {
  background-color: #F8F9FA;
  padding: 16px;
}

.flat-details {
  margin-top: 32px;
}

